$color-primary1:rgb(255, 241, 240);
$color-primary2:rgb(255, 204, 199);
$color-primary3:rgb(255, 163, 158);
$color-primary4:rgb(255, 120, 117);
@mixin color_primary($color){
    color:$color;
    /*判断匹配*/
    [data-theme="primary1"] & {
        color:$color-primary1;
    }
    [data-theme="primary2"] & {
        color:$color-primary2;
    }
    [data-theme="primary3"] & {
        color:$color-primary3;
     }
    [data-theme="primary4"] & {   
        color:$color-primary4;
    }
}

:root{
    --color:rgb(255, 241, 240);
    --textcolor:rgb(245, 34, 45);
}