$color-primary1:rgb(255, 163, 158);
$color-primary2:#ff7a45;
$color-primary3:#ffec3d;
$color-primary4:#bae637;

@mixin color_primary($color){
    color:$color;
    /*判断匹配*/
    [data-theme="primary1"] & {
        color:$color-primary1;
    }
    [data-theme="primary2"] & {
        color:$color-primary2;
    }
    [data-theme="primary3"] & {
        color:$color-primary3;
     }
    [data-theme="primary4"] & {   
        color:$color-primary4;
    }
}

:root{
    --color:rgb(255, 241, 240);
    --back:rgb(90, 28, 25);
}